
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,700&family=Roboto:ital@0;1&display=swap');
:root {
    --heading-font: "Open Sans";
  --paragraph-font: Roboto, Helvetica, sans-serif;
}
content {
    max-width: 1600px;
    margin: 0 auto;
}

/*nav layout*/

nav a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: var(--heading-font);
    padding: 35PX;
    
}
nav a:hover {
    background-color: #F4C303;
    color: #F47C00;
    border-radius: 0%;
}
nav {
    display: flex;
    justify-content: space-around;
    
}
.logo {
    width: 80px;
    border-radius: 30%;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
}
#home-nav {
    opacity: .87;
}
header {
    background-color: #F47C00;
    display: grid;
    grid-template-columns: 150px auto;
    z-index: 3;
}
body {
    background-color: #fef7ec;
    font-size: 22px;
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    font-family: var(--heading-font);
}
h2 {
    margin: 0;
}

/*hero layout*/

#hero-section {
    display: grid;
    grid-template-columns: 6fr 3fr 1fr;
    grid-template-rows: 100px 1fr;
    margin-top: -100px;
    margin-bottom: 200px;
    z-index: -2;
}

#hero-img {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -3;
    box-shadow: 0px 0px 40px black;
}
#hero-box-shadow {
    width: 100%;
    background-color: black;
    opacity: .5;
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: -2;

}
#hero-box{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    z-index: 0;
    grid-column: 2/3;
    grid-row: 2/3;

}
#hero-text-box {
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 0 auto;
    
    
}
#hero-box p {
    
    color: white;
    text-align: center;
    
}
.button-box {
    
    text-align: center;
    background-color: #F47C00;
    padding: 10px;
    margin: auto;
    border-radius: 10%;
    font-family: var(--heading-font);
}
.button-box a {
    text-decoration: none;
    color: black;
}
.button-box a:hover {
    color: #F47C00;
}
.button-box:hover {
    background-color: #F4C303;
    transform: scale(1.1);
}

/* Home page layout*/

#home-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#welcome-text-box {
    background-color: #F4C303;
    border-bottom: 5px solid #F47C00;
    grid-column: 1/2;
    box-shadow: 0px 0px 10px;
    padding: 15px;
    font-size: .8em;
    margin: auto;
}
#home-grid img {
    width: 100%;
    grid-column: 2/3;
    border-radius: 10%;
    box-shadow: 0px 0px 10px;
}

/* Footer layout */

footer {
    background-color: #F47C00;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;

}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
.icon {
    width: 80px;
    border-radius: 10%;
}


/* Gallery layout */
#gallery-title {
    color: black;
    text-decoration-style: solid;
    text-align: center;
    background-color: #F47C00;
    border-top: 5px solid #FFD24E;
    border-bottom: 5px solid #FFD24E;
    opacity: .8;
}
#gallery-body {
    background-color: #222;
   
}
#gallery-grid {
     border-top: 15px solid #F4C303;
    
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  font-style: italic;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Getting Started Section*/
#header-box {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #F4C303;
    border-bottom: 10px solid #F47C00;
    margin-top: 75px;
    margin-bottom: 150px;;
    box-shadow: 0px 5px 30px #F47C00;
}
#header-text {
    grid-column: 1/2;
    padding: 20px;

}
#header-text h1 {
    color: #F47C00;
    font-size: 2.5em; 
}
#header-img {
    grid-column: 2/3;
    width: 100%;
    border-radius: 5%;
    box-shadow: 10px 10px 20px;
}
#supplies-box h2 {
    font-size: 2.25em;
    text-align: center;
    padding: 5px;
}
.supplies-header {
    background-color: #F47C00;
    padding: 10px;
    font-size: 1.25em;
    grid-column: 1/3;
    padding-left: 20px;
}
.supplies-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.supplies-img {
    grid-column: 2/3;
    width: 100%;
    border-radius: 5%;
    box-shadow: 10px 10px 30px;
    

}
.supplies-text  {
    grid-column: 1/2;
    padding: 15px;
    margin: 10px;
}
#setup-box {
    background-color: #F4C303;
    margin-top: 200px;
    border-bottom: 10px solid orange;
}
#setup-box h2 {
    color: #F47C00;
    font-size: 2em;
    padding: 12px;
    text-align: center;
}
#setup-box p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    
}

/* Next steps Section */
.technique-img-right, .technique-img-left {
    border-radius: 50%;
    border: 10px solid #FFD24E;
    width: 100%;
    margin: 0 auto;
    transition: transform .75s;
    transform: scale(1.25);
}
.technique-img-right:hover, .technique-img-left:hover {
    transform: scale(1.3);
}
.teqhnique-img-right {
    grid-column: 2/3;
    grid-row: 1/4;
}
.technique-img-left {
    grid-column: 1/2;
    grid-row: 1/4;
}
.technique-text-right h3, .technique-text-left h3 {
    color: #F47C00;
}
.technique-text-right {
    grid-column: 1/2;
    grid-row: 1/4;
    padding-left: 50px;
    padding-top: 25px;
    padding-right: 75px;

}
.technique-text-right a {
    color: #222;
}
.technique-text-right a:hover {
    color: white;
}
.technique-text-left {
    grid-column: 2/3;
    grid-row: 1/4;
    padding: 50px;
    padding-top: 25px;
    padding-left: 75px;
}
.technique-box-right, .technique-box-left {
    background-color: #F4C303;
    border-bottom: 15px solid #F47C00;
    border-top: 10px solid #FFD24E;
    margin-top: 200px;
    box-shadow: 0px 5px 30px #222;
}
.technique-box-right {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-right: 50px;
}
.technique-box-left {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-left: 50px;
}
#technique-header {
    background-color: #F47C00;
    border-top: 10px solid #F4C303;
    margin-top: 75px;
    box-shadow: 0px 5px 30px;
}
#technique-header h1 {
    color:#F4C303;
    padding-left: 50px;
    padding-bottom: 0;
}
#technique-header p {
    color:#222;
    padding: 50px;
    padding-top: 15px;
}
.brush-meter {
    height: 1em;
}


/* media query for mobile */
@media screen and (max-width: 900px) {
    #hero-section, #home-grid, #header-box, .supplies-grid {
        display: block;
        height: auto;
    }
    .technique-box-left, .technique-box-right {
        justify-content: center;
        display: block;
        padding: 0px;
        height: auto;
    }
    .technique-img-left, .technique-img-right {
        transform: scale(1);
        margin: 0 auto;
    }
    .technique-img-left:hover, .technique-img-right:hover {
        transform: scale(1.1);
    }
    .technique-text-left, .technique-text-right {
        padding: 15px;
        margin: 0 auto;
    }
    #technique-header p {
        padding: 15px;
    }
    #technique-header h1 {
        padding: 15px;
    }
   #welcome-text-box {
        margin-bottom: 25px;
        margin-top: -200px;
   }
    #hero-section {
        margin-top: 0;
    }
    #home-nav {
        opacity: 1;
    }
    #hero-text-box {
        width: 100%;
        margin: 0;
        padding: 20px;
        background-color: #222;
        border: 5px solid #F47C00;
        border-radius: 2%;
        margin-top: -75px;
        font-size: x-small;
    }
    nav, footer {
        flex-direction: column;
        opacity: 1;
    }
    nav a {
        display: block;
        padding: 15px;
    }

    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
    
}

